<include file="Header/header" />
<link href="{:C('T_URL')}/css/Home/rank.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="{:C('T_URL')}/js/jquery-1.8.3.min.js"></script>
	<div id="bd">
		<!-- 左侧的热门榜等列表标题 -->
		<div id="l">

			<!-- 需要循环处 -->
			<volist name="cate" id="vo">
			<if condition="$vo['pid'] eq 0">
				<h6 id="l_h4">{$vo['name']}</h6>
				<else/>
				<a href="{:U('Index/Rank/index',array('id'=>$vo['id']))}">{$vo['name']}</a><br/>
			</if>
			</volist>
	
		</div>
		<div id="r">
			<div id="theme">	
				<img src="__ROOT__/{$good['pic']}" width="420px" height="70px">			
			</div>
			<div id="theme_cont">
					<div id="text">
						{$good['desc']}
					</div>		
			</div>
			<!-- 右边全选输入框 播放图片按钮和全部播放按钮 -->
			<div id="r_action">
				<div id="r_a_cb">&nbsp;<input type="checkbox" name="allcheck" id="quanxuan">&nbsp;&nbsp;全选</div>
				<input type="image" name="song" src="{:C('T_URL')}/images/all_play.png" id="r_a_pic_1">				
				<input type="image" name="song" src="{:C('T_URL')}/images/play.png" id="r_a_pic_2">
			</div>
			<table id="tb">
				<tr style="height:32px;border-bottom:1px solid #E0E0E0;">
					<td></td>
					<td style="width:45px;text-align:left;">名次</td>
					<td>歌曲名称</td>
					<td style="width:60px;">上榜天数</td>
					<td style="width:60px;">昨天排行</td>
					<td style="width:60px;">最高排行</td>
					<!-- <td style="width:40px;">浮动</td> -->
					<td style="width:40px;">试听</td>
					<td style="width:40px;">分享</td>
				</tr>
				<tr style="height:10px;"></tr>
				<foreach name="songlist" item="vo" key="k">
				<tr>
					<td style="text-align:left;text-indent:3px;"><input type="checkbox" id="{$vo.id}" name="songid"></td>
					<td style="text-align:left;text-indent:5px;">{$k+1}</td>
					<td style="text-align:left;width:390px;">{$vo.singer}&nbsp;-&nbsp;{$vo.name}</td>
					<td>356</td>
					<td>200</td>
					<td style="width:60px">100</td>
					<!-- <td><img src="{:C('T_URL')}/images/{$vo.float}"></td> -->
					<td><a href="{:U('Index/Audio/index',array('id'=>$vo['id']))}"><input type="image" src="{:C('T_URL')}/images/listener.png" id="r_l_pic"></a></td>
					<td><input type="image" src="{:C('T_URL')}/images/share.png" id="r_l_pic"></td>
				</tr>
				</foreach>
			</table>
			<div align="center">{$page}</div>
		</div>
	</div>

<script type="text/javascript">
$(function () {
	$("#quanxuan").click(function(){
			if(this.checked){
				$("#tb :checkbox").attr("checked", true);
			}else{
				$("#tb :checkbox").attr("checked", false);
			}
		});
})
	//点击播放
	$('#r_a_pic_1').click(function () {
		window.location.href = "{:U('Index/Audio/play',array('id'=>$id))}";
	});
	$('#r_a_pic_2').click(function () {
		window.location.href = "{:U('Index/Audio/index',array('id'=>$id))}";
	});
	
</script>
<include file="Header/footer" />