
	*{
		margin: 0 auto;
		padding: 0px;
	}
	div{
		display:block;
	}
	a{
		text-decoration:none;
	}
	#ddedit-1{
		margin-top:15px;
		width:960px;
		height:45px;
	}
	#ddedit-2{
		width:960px;
		height:62px;
		margin-top:30px;
		border-bottom:1px solid #dadada;
		line-height:62px;
		font-size:26px;
		/*color:#666;*/
	}
	#ddedit-3{
		width:960px;
		height:180px;
		margin-top:15px;
		/*border:1px solid red;*/
	}
	/*表头信息*/
	.ddedit-3-p1{
	text-align:left;
	color:#666;
	line-height:35px;
	font-size:22px;
	}
	.ddedit-3-p2{
	text-align:left;
	color:#666;
	line-height:66px;
	font-size:22px;
	}
	/*收货地址*/
	.ddedit-3-add{
		text-align:left;
		color:#666;
		line-height:35px;
		font-size:16px;
	}
	/*新加地址*/
	.ddedit-3-newadd{
		text-align:left;
		color:#2680DF;
		line-height:35px;
		font-size:12px;
		cursor:pointer;
	}
	.ddedit-3-insertadd{
		width:718px;
		height:500px;
		position:fixed;
		z-index:4;
		top:70px;
		left:240px;
		background-color:white; 
		border:1px solid #999;
	}
	.ddedit-3-insertadd-close{
		width:31px;
		height:31px;
		float:left;
		margin-top:24px;
		margin-left:260px;
		/*margin:left:220px; */
		cursor:pointer;
		/*border:1px solid red;*/
	}
	.ddedit-3-insertadd-reset{
		width:130px;
		height:30px;
		border:1px solid #dadada;
		background-color:#f3f3f3;
		font-size:14px;
		color:#666;
	}
	/*表格div*/
	.ddedit-3-insertadd-fix{
		width:360px;
		height:500px;
		float:left;
		margin-left:30px;
		/*border:1px solid #999;*/
	}
	.ddedit-3-insertadd-title{
		width:360px;
		line-height:35px;
		text-align:left;
		font-size:15px;
	}
	.ddedit-3-insertadd-title1{
		line-height:30px;
		font-size:15px;
		color:#666666;
	}
	.ddedit-3-insertadd-input{
		width:355px;
		height:35px;
		border:1px solid #dfdfdf;
		color:#666;
		line-height:35px;
		font-size:15px;
	}
	.ddedit-3-insertadd-use{
		width:130px;
		height:30px;
		border:0px;
		background-color:#2680DF;
		font-size:14px;
		color:#fff;
	}
	/*三级城市关联*/
	#ddedit-3ss2,#ddedit-3ss,#ddedit-3ss1 {
		width:110px;
		height:35px;
		border:1px solid #dfdfdf;
		line-height:35px;
		font-size:15px;
	}
	/*收货时间*/
	.ddedit-3-time{
		width:170px;
		height:70px;
		float:left;
		margin-left:5px;
		border:1px solid #dadada;
		cursor:pointer;
	}
	#ddedit-4{
		width:960px;
		height:62px;
		margin-top:30px;
		/*border-bottom:1px solid #dadada;*/
		line-height:62px;
		font-size:26px;
		/*color:#666;*/
	}
	#ddedit-5{
		width:960px;
		height:auto;
	}
	#ddedit-5-top{
		width:960px;
		height:40px;
		line-height:40px;
		background:#f3f3f3;
		font-size:16px;
		color:#999;
		border-top:1px solid #dadada;	
		border-right:1px solid #dadada;	
		border-left:1px solid #dadada;		
	}
	/*需遍历的商品信息*/
	.ddedit-5-bottom{
		width:960px;
		height:120px;
		border-left:1px solid #dadada;	
		border-right:1px solid #dadada;	
		border-bottom:1px solid #dadada;	
	}
	.ddedit-5-bottom-left{
		width:80px;
		height:80px;
		float:left;
		margin-top:20px;
		margin-left:20px;
	}
	.ddedit-5-bottom-right{
		width:825px;
		height:35px;
		float:left;
		margin-top:41px;
		margin-left:30px;
		/*border:1px solid red;*/
	}
	/*个商品文字信息*/
	.ddedit-5-bottom-right-p1{
		line-height:35px;
		text-align:left;
		font-size:15px;
		color:#666;
	}
	.ddedit-5-bottom-right-p2{
		line-height:35px;
		font-size:18px;
		color:#666;
	}
	.ddedit-5-bottom-right-p3{
		line-height:35px;
		font-size:20px;
		color:#666;
		font-weight:bold;
	}
	/*单个商品总价*/
	.ddedit-5-bottom-right-p4{
		line-height:35px;
		font-size:18px;
		font-weight:bold;
		color:#f60;		
	}
	/*发票信息 订单总信息*/
	#ddedit-6{
		width:960px;
		height:200px;
		margin-top:30px;
		/*border:1px solid #ccc;*/
	}
	/*左侧是否需要发票*/
	.ddedit-6-left{
		width:520px;
		height:60px;
		float:left;
		background-color:#f3f3f3; 
	}
	.ddedit-6-left-check{
		display:block;
		float:left;
		margin-top:22px;
		margin-left:30px;
		width:130px;
		height:12px;
		line-height:12px;
		color:#666;
		font-size:12px;
	}
	.ddedit-6-right{
		float:right;
		width:330px;
		height:205px;
		/*border:1px solid red;*/
	}
	/*表格信息*/
	.ddedit-6-table-left{
		text-align:right;
		line-height:35px;
		color:#666;
		font-size:12px;
	}
	.ddedit-6-table-right{
		text-align:right;
		line-height:35px;
		color:#f60;
		font-size:12px;
	}
	/*立即下单 继续购物*/
	#ddedit-7{
		width:960px;
		height:135px;
		background-color:#f3f3f3;
		margin-top:20px;
		margin-bottom:35px;
	}
	.ddedit-7-buy-anniu1{
		font-size:23px;
		color:#999;
		float:right;
		height:45px;
		width:190px;
		background:#fff;
		margin-top:40px;
		margin-right:20px;
		border:0px;
		text-align:center;
		line-height:45px;
		cursor:pointer;
	}
	#ddedit-7-buy-anniu2{
		font-size:23px;
		color:white;
		float:right;
		height:45px;
		width:190px;
		background:#ff6600;
		margin-top:40px;
		margin-right:20px;
		border:0px;
		text-align:center;
		line-height:45px;
		cursor:pointer;
	}