   <!-- 商品服务部分开始 -->
<style type="text/css">	 
	#service_2015{ overflow:hidden; width: 100%; height: 240px; background-color: #f5f5f5; margin-top: 30px; padding:25px 0px 25px 0px;}
	#service_2015 .satisfy_list{width:960px; margin:0 auto;}
	#service_2015 .satisfy_top li,#service_2015 .satisfy_bottom dl{position: relative; float: left; width: 175px;}
	#service_2015 .satisfy_top li,#service_2015 .satisfy_top li b{	text-indent: -999em;}
	#service_2015 .satisfy_top ul{ height: 105px; 	border-bottom:1px solid #dfdfdf;}
	#service_2015 .satisfy_top li{height:78px;line-height:78px;margin-bottom:25px;border-right:1px solid #dfdfdf}
	#service_2015 .satisfy_top li.genuine{width:175px}
	#service_2015 .satisfy_top li.rejected{width:209px}
	#service_2015 .satisfy_top li.change{width:192px}
	#service_2015 .satisfy_top li.privileged{width:219px}
	#service_2015 .satisfy_top li.freeCondition{width:161px;border-right:0}
	#service_2015 .satisfy_top li i{position:absolute;display:block;height:78px;left:50%;bottom:0}
	#service_2015 .satisfy_top li.genuine i,
	#service_2015 .satisfy_top li.rejected i,
	#service_2015 .satisfy_top li.change i,
	#service_2015 .satisfy_top li.privileged i,
	#service_2015 .satisfy_top li.freeCondition i{
		background:url(__ROOT__/Public/images/buyimages/footer2_bg.jpg) no-repeat
	}
	#service_2015 .satisfy_top li.genuine i{width:78px;margin-left:-39px; background-position: 0px 0px; }
	#service_2015 .satisfy_top li.rejected i{width:112px;margin-left:-56px;background-position: -83px 0px;}
	#service_2015 .satisfy_top li.change i{width:104px;margin-left:-52px;background-position: -199px 0px;}
	#service_2015 .satisfy_top li.privileged i{width:130px;margin-left:-65px;background-position: -307px 0px;}
	#service_2015 .satisfy_top li.freeCondition i{width:81px;margin-left:-40px;background-position: -441px 0px;}

	#service_2015 .satisfy_bottom{position:relative; height: 110px; padding-top:25px; }
	#service_2015 .satisfy_bottom dl{ float: left; width: 195px;}
	#service_2015 .satisfy_bottom dl.last_dl{ width: 145px;}
	#service_2015 .satisfy_bottom dl,#service_2015 .satisfy_bottom dl a{color:#666}
	#service_2015 .satisfy_bottom dl dt{font-size:16px;padding-bottom:15px}
	#service_2015 .satisfy_bottom dl dd{font-size:12px;line-height:24px}
	#service_2015 .serveice_phone p{line-height:20px}
	#service_2015 .serveice_phone{float:left;width:189px;height:100px;padding-left:40px;border-left:1px solid #dfdfdf;text-align:center}
	#service_2015 .serveice_phone .phone_number{padding-bottom:10px;font-size:26px;color:#008ad4}
	#service_2015 .serveice_phone .service_frezz{margin-bottom:10px}
	#service_2015 .serveice_phone .chat_btn{zoom:1;margin:0 auto;border-radius:5px;padding:5px 10px; _height:18px;_line-height:24px;background:#008ad4;font-size:14px;color:#fff}
	*+html #service_2015 .serveice_phone .chat_btn{ height:18px;line-height:24px;}
	#service_2015 .serveice_phone .chat_btn a{color:#fff}
	#service_2015 .vchar_code{ display:none; z-index: 9999; position:absolute; right:110px; top:-50px;width: 208px;height: 205px; background: url(__ROOT__/Public/images/buyimages/qrcode.jpg) no-repeat 0 0;}
	.serveice_qq{ position: relative; height:30px;}
	.serveice_qq iframe{ position: absolute; top:0px; left:40px; opacity: 0; filter:alpha(opacity=0);}
</style>
	<div id="service_2015" class="service_center">
		<div class="satisfy_list">
			<div class="satisfy_top">
				<ul class="clear_fix">
					<li class="genuine">
						<i></i>
						<b>正</b>
						100%正品
					</li>
					<li class="rejected">
						<i></i>
						<b>7</b>
						7天无理由退货
					</li>
					<li class="change">
						<i></i>
						<b>15</b>
						15天免费换货
					</li>
					<li class="privileged">
						<i></i>
						<b>VIP</b>
						酷狗VIP全场包邮
					</li>
					<li class="freeCondition">
						<i></i>
						<b>包邮</b>
						满200包邮
					</li>
				</ul>
			</div>
			<div class="satisfy_bottom clear_fix">
				<dl>
					<dt>帮助中心</dt>
					<dd>
						<p><a href="#" hidefocus="true">运费规则</a></p>
						<p><a href="#" hidefocus="true">支付方式</a></p>
						<p><a href="#" hidefocus="true">物流配送</a></p>
					</dd>
				</dl>
				<dl>
					<dt>服务支持</dt>
					<dd>
						<p><a href="#" hidefocus="true">售后政策</a></p>
						<p><a href="#" hidefocus="true">官网验伪</a></p>
						<p><a href="#" hidefocus="true" target="_blank">相关下载</a></p>
					</dd>
				</dl>
				<dl>
					<dt>关于酷狗</dt>
					<dd>
						<p><a href="http://www1.kugou.com/about/default.html" hidefocus="true" target="_blank">关于酷狗</a></p>
						<p><a href="http://www.kugou.com/job/hr/html/index.html" hidefocus="true" target="_blank">加入酷狗</a></p>
						<p><a href="http://www1.kugou.com/about/commerce.html" hidefocus="true" target="_blank">联系我们</a></p>
					</dd>
				</dl>
				<dl class="last_dl">
					<dt>关注我们</dt>
					<dd>
						<p><a href="" hidefocus="true">酷狗论坛</a></p>
						<p><a href="#" hidefocus="true">官方微信</a></p>
						<p><a href="#" hidefocus="true" target="_blank">新浪微博</a></p>
					</dd>
				</dl>
				<div class="serveice_phone">
					<p class="phone_number">400-626-0870</p>
					<p class="service_time">周一至周五  9:30-18:30</p>
					<p class="service_frezz">（仅受理订单相关咨询）</p>
					<div class="serveice_qq">	
					<span class="chat_btn"><a href="#" target="_blank">在线客服</a></span>
						
					</div>				
				</div>
				<div class="vchar_code">
				</div>
			</div>		
		</div>
		<div class="help_center_link">
		</div>
	</div>
    <div id="foot">
		<div class="foot-dh">
			<ul>
				<li><a href="">关于酷狗</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
				<li><a href="">广告服务</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
				<li><a href="">版权指引</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
				<li><a href="">推广合作</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
				<li><a href="">招聘信息</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
				<li><a href="">客服中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
				<li><a href="">用户体验提示计划</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
				<li><a href="">酷狗2015官方免费下载</a></li>
			</ul>
		</div>
		<div class="foot-ti">
			<ul>
				<li>我们致力于推动网络正版音乐发展，相关版权合作请联系copyrights@kugou.com</li>
				<li>网络视听许可证1910564号 文网文[2010]175号 增值电信业务经营许可证粤B2-20060339&nbsp;&nbsp;<a href="">粤ICP备09017694号-2</a></li>
				<li>广州酷狗计算机科技有限公司 Copyright (C) 2004-2015 KuGou-Inc.All Rights Reserved </li>
			</ul>
		</div>
		<div class="foot-img">
			<img src="__ROOT__/Public/images/login/foot.png" width="200px">
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
        function fun(){
			var login=document.getElementById("login");
			login.style.display="block";
		}
		var close=document.getElementById("close");
		close.onclick=function(){
			login.style.display="none";
	   }
</script>