		 #bd{
		 	position:relative;
		 	width:960px;
		 	/*此处高无法设置为auto*/
		 	height:730px;
		 	padding-top:6px;
		 	font-size:13px;
			color:#5A5A5A;
			margin:0 auto;

		 }
		 #l{
		 	width:160px;
		 	height:auto;
		 	border-right:1px solid #DCDCDC;
		 	float:left;

		 }
		 /*右边大div框*/
		 #r{
		 	width:780px;
		 	float:right;
			height:auto;
		 }
		 #l_t{
		 	display:block;
		 	clear:left;
			color:#999999;
			margin-top:11px;
			margin-bottom:15px;
		 }
		 #l_r{
		 	display:block;
		 	float:left;
		 	margin-right:11px;
		 	margin-bottom:15px;
		 }
		 #l_r:hover{
		 	background-color:#7CDBFF;
		 	color:white;
		 	cursor:pointer;
		 }

		 /*右边内容的标题行的线*/
		 #r_line{
		 	border-bottom:1px solid #D4D4D4;
		 	height:27px;
		 	margin-top:6px;
		 	float:left;
		 }
		 /*右边内容的标题*/
		 .r_title{
		 	border-bottom:1px solid #D4D4D4;
		 	height:27px;
		 	margin-top:6px;
		 	float:left;
		 	font-size:14px;
		 	text-align:center;
		 	line-height:27px;
		 	width:95px;
		 	cursor:pointer;
		 }
		 #r_action{
		 	width:780px;
		 	clear:both;
		 	/*background-color:pink;*/
		 	height:auto;
		 	float:right;
		 	border-bottom:1px solid #D4D4D4;
		 }
		 #r_a_pic_1{
		 	float:right;
		 	height:26px;
		 	margin-top:14px;
			margin-left:10px;
			margin-bottom:11px;
		 }
		 #r_a_pic_2{
		 	float:right;
		 	height:26px;
		 	margin-top:14px;
			margin-left:10px;
			margin-bottom:11px;
		 }
		 #listener{
		 	display:none;
		 	margin-top:14px;
			margin-left:10px;
		 	background-color:yellow;
		 	width:40px;
		 	height:30px;
		 }
		 #r_list{
			width:780px;
			float:right;
		 }
		 #r_l_pic{
		 	float:right;
		 	height:15px;
		 	margin-top:10px;
			margin-left:15px;
			margin-bottom:11px;
			margin-right:5px;
		 }
		 #r_l_cb{
		 	float:left;
		 	margin-top:10px;
			width:300px;
			height:20px;
			/*background-color:orange;*/
			line-height:20px;
			cursor:pointer;

		 }
		 #r_a_cb{
		 	float:left;
		 	margin-top:25px;
			width:80px;
			height:20px;
			/*background-color:orange;*/
			line-height:20px;
		 }