#body{
		width:960px;
		height:730px;
		margin:0 auto;
		/*background-color:yellow;*/
		/*position:relative;*/
	}
	img{
		cursor:pointer;
	}
	/*上方导航条的*/
	#nav{
		/*background-color:orange;*/
		width:300px;
		font-size:13px;
		margin-top:10px;
		margin-bottom:10px;
		height:20px;
		float:left;
		margin-left:10px;
	}
	#nav a{
		text-decoration:none;
		color:#3D3D3D;
	}
	#left{
		margin-right:20px;
		width:160px;
		float:left;
		clear:left;
	}
	#left table{
		border-collapse:collapse;
	}
	#left table tr{
		/*border:1px solid red;*/
	}
	#left table tr td{
		/*border:1px solid red;*/
		font-size:13px;
	}
	#r_action{
		width:765px;
		clear:both;
		height:auto;
		float:right;
		border-bottom:1px solid #D4D4D4;
		/*background-color:yellow;*/
	 }
	#r_a_pic_1{
		float:right;
 		height:26px;
		margin-top:14px;
		margin-left:10px;
		margin-bottom:11px;
 	}
 	#r_a_pic_2{
		float:right;
 		height:26px;
		margin-top:14px;
		margin-left:10px;
		margin-bottom:11px;
 	}
 	#r_a_cb{
		float:left;
		margin-top:20px;
		width:80px;
		height:20px;
		line-height:20px;
		font-size:13px;
		color:#878787;
		}
	#r_list{
		width:765px;
		height:30px;
		float:right;cursor: pointer;
	}
	#r_l_pic{
		float:right;
		height:15px;
		margin-top:10px;
		margin-left:15px;
		margin-bottom:11px;
		margin-right:5px;
	}
	#r_l_cb{
		float:left;
		margin-top:10px;
		width:300px;
		height:20px;
		line-height:20px;
		font-size:13px;
	}
	#r_l_cb a{font-size: 12px;color: black}
	#title{
		font-size:15px;
		/*margin-bottom:20px;*/
		/*background-color:orange;*/
		color:#323232;
	}
	#right{
		margin-top:10px;
	}
	