
		#aaa{
			width:960px;
			height:600px;
			margin-top:20px;
		}
		#l{
		 	width:160px;
		 	height:auto;
		 	border-right:1px solid #DCDCDC;
		 	float:left;
			/*background-color:orange;*/
			margin-right:15px;
		 }
		 /*右边大div框*/
		 #r{
		 	width:780px;
		 	float:left;
			height:auto;
			/*background-color:blue;*/
		 }
		 table{
		 	border-top:1px solid #E6E6E6;
		 	/*border-bottom:1px solid #E6E6E6;*/
		 	width:750px;
		 	margin-top:8px;
		 	margin-bottom:8px;
		 	border-spacing:10px;
		 }
		 table tr{
		 	width:180px;
		 	height:20px;
		 	overflow:hidden;
		 	/*background-color:orange;*/
		 }
		 table tr td img{
		 	/*visibility:hidden;*/
		 	display:none;
		 	width:15px;
		 	height:15px;
		 	position:relative;
		 	top:2px;
		 	float:right;
		 	margin-right:8px;
		 }
		 #goodul{
		 	margin-right:30px;
		 	margin-top:8px;
		 	margin-right:30px;
		 	width:130px;
		 	/*background-color:yellow;*/

		 }
		 .goodli{
		 	height:30px;
		 	width:130px;
		 	font-size:14px;
		 	color:#464646;
		 	list-style-type:none;
		 	/*text-align:center;*/
		 	line-height:30px;
		 	text-indent:30px;
		 	/*background-color:blue;*/

		 }

		 li:hover{
		 	background-color:#C4E6F5;
		 	cursor:pointer;
		 }
		 // td:hover{
		 // 	background-color:#DAF1FB;
		 // 	cursor:pointer;
		 // }